/* #region ******* DEBUG ******* */
.debug .navbar,
.debug .copyright{
    height: 100px;
}
/* .debug #site_main > section {
    height: 400px;
} */
.debug .jumbotron{
    height: 400px;
}
.debug .portfolio [class^="col"],
.debug .info [class^="col"]{
    height: 300px;
}
.debug .row,
.debug .container,
.debug [class^="col"]{
    height:100%;
}
.debug .title{
    height: 100px;
}
.debug [class^="col"]{
    background-color: rgba(255, 192, 203, 0.37);
    border: 1px solid rgba(201, 22, 22, 0.521);
}
.debug .portfolio .row{
    height: 50%;
}
.debug .portfolio [class^="col"]{
    background-color: coral;
    border: 1px solid rgba(0, 0, 0, 0.212);
}

.debug .about [class^="col"],
.debug .contact [class^="col"]{
    height: 100px;
}
/* #endregion ******* DEBUG ******* */



/* #region ******* UTILITY ******* */
.dark_blue_bg{
    background-color: #2C3E50;
}
.blue_bg{
    background-color: #3A546D;
}
.turquoise_bg{
    background-color: #1ABC9C;
}

.star_splitter::before,
.star_splitter::after{
    content:"";
    display: inline-block;
    height: 3px;
    width: 30%;
    background-color: black;
    border-radius: 3px;
    vertical-align: middle;
}
.pseudo_white::before,
.pseudo_white::after{
    background-color: white;
}

.btn.turquoise_bg{
    border: none;
    padding: .5rem 1rem;
}

.blue_bg p>a{
    color: #1ABC9C;
}
/* #endregion ******* UTILITY ******* */

/* #region ******* COMMON ******* */
::placeholder {
    font-size: 1.2rem;
    color: black !important;
}
a{
    text-decoration: none;
}
/* #region ******* COMMON ******* */



/* #region ******* JUMBO ******* */
.avatar{
    width: 50%;
}
/* #endregion ******* JUMBO ******* */

/* MAIN  */

/* #region ******* PORTFOLIO ******* */
.p_card{
    border-radius: 5px;
    overflow: hidden;
}
.p_card img{
    width:100%;
}
/* #endregion ******* PORTFOLIO ******* */

/* #region ******* CONTACT ME ******* */
.form_input{
    display: block;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 1rem 0;
}
/* #endregion ******* CONTACT ME ******* */

/* #region ******* FOOTER ******* */
#site_footer h3{
    font-size: 1.7rem;
}
#site_footer p{
    font-size: 1.2rem;
}
.social > i{
    font-size: 1.2rem;
    height: 60px;
    width: 60px;
    line-height: 60px;
}
/* #endregion ******* FOOTER ******* */