/* #region ******* DEBUG ******* */
.debug #site_header,
.debug .copyright{
    height: 100px;
}
/* .debug #site_main > section {
    height: 400px;
} */
.debug .start{
    height: 400px;;
}
.debug .portfolio [class^="col"],
.debug .info [class^="col"]{
    height: 300px;
}
/* .debug .info{
    height: 400px;
} */
.debug .row,
.debug .navbar,
.debug .container,
.debug [class^="col"]{
    height:100%;
}
.debug [class^="col"]{
    background-color: rgba(255, 192, 203, 0.37);
    border: 1px solid rgba(201, 22, 22, 0.521);
}
.debug .portfolio .row{
    height: 50%;
}
.debug .portfolio [class^="col"]{
    background-color: coral;
    border: 1px solid rgba(0, 0, 0, 0.212);
}
.debug .about [class^="col"],
.debug .contact [class^="col"]{
    height: 100px;
}
/* #endregion ******* DEBUG ******* */
.dark_blue_bg{
    background-color: #2C3E50;
}
.blue_bg{
    background-color: #3A546D;
}
.turquoise_bg{
    background-color: #1ABC9C;
}

/* @media screen and (max-width:575.98px) {
    .portfolio .col-4{
        width: 100%;
    }
} */
